@import 'utils';

.content{
  display: flex;
  position: relative;
  height: 101vh; // 페이지에서 헤더를 제외한 영역 모두 채우기
  
  background:url('http://220.68.54.53:8082/images/three.jpg');
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size:cover;
  .textBox{
    flex: 5;
    margin-top: -20px;
    margin-left: 40px;
    font-family: 'Nanum Gothic', sans-serif;
    @include media(">huge") {
      margin-left: 10vw;
      margin-top: 5vh;
    }
    @include media("<=large") {
      margin-left: 0px;
      flex:10
    }
    @include media("<=medium") {
      margin-left: 10px;
      flex:10
    }
    .textTitle {
      flex: 4;
      font-size:4rem;
      color: white;
      padding-left: 1rem;
      padding-top: 10rem;
      //단어 줄바꿈에 관한 속성들
      word-break:keep-all;
      word-wrap:break-word;
      @include media("<=medium") {
        margin-top: -1.3rem;
        font-size: 2.8rem;
      }
      @include media("<=small") {
        margin-top: -2rem;
        font-size: 2.5rem;
      }
      span {
        color: rgb(223, 58, 58);
      }
    }
    .text {
      color: white;
      // font-family: 'Nanum Gothic', sans-serif;
      b {
        font-weight: 1300;
      }
      flex:4;
      font-size: 1.7rem;
      padding-left: 1rem;
      p{
        font-size: 1.2rem;
        a{
          color: green;
          font-weight: 900;
        }
      }
      @include media("<=large") {
        padding-left: -1rem;
        font-size: 1.5em;
      }
      @include media("<=medium") {
        padding-left: -1rem;
        font-size: 1.4em;
      }
      @include media("<=small") {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 1.2em;
      }
    }
    .searchBox{
      display : flex;
      align-items : 'center';
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(172, 172, 172);
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: rgb(172, 172, 172);
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
          color: rgb(172, 172, 172);
      }
      .searchBtn{
        margin-left: 10px;
      }
      .searchByName {
        margin-left: 15px;
        font-size: 1.1rem;
        height: 30px;
        color: white;
        width : 250px;
        background-color: black;
        border: transparent;
        &:focus {
          outline: none;
        }
      }
    }

    .detailSearch{
      width: 250px;
      height : 30px;
      margin-left: 55px;
      margin-top: 10px;
      background: tomato;
      border: none;
      &:focus{
        outline: none;
      }
      &:hover{
        animation: detailBtnHover 0.3s 0s 1 linear forwards;
      }
    }
  }

  @keyframes detailBtnHover {
    0% {
      }
    60% {
    }
    100% {
      transform: translateY(-2px);
      box-shadow: 3px 3px 5px black;
    }
}
  
  .sampleBox {
    border-radius: 20px;
    box-shadow: -5px 5px 5px rgb(41, 41, 41);
    background:url('http://localhost:8082/images/intro1.jpg');
    background-repeat: no-repeat;
    margin-top: 100px;
    margin-left: 30px;
    background-size: cover;
    height: 70vh;
    flex: 5;
    @include media("<=medium") {
      display: none;
      flex: 0;
    }
  }

}