@import 'utils';

.content{
  display: flex;
  position: relative;
  height: 85vh; // 페이지에서 헤더를 제외한 영역 모두 채우기
  // background:url('http://localhost:8082/images/six.jpg');
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3d72b4, #525252);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3d72b4, #525252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background-size:cover;

  @include media("<=medium") {
    height: 95vh;
  }
  
  .textBox{
    flex: 5;
    margin-top: -20px;
    margin-left: 40px;
    font-family: 'Nanum Gothic', sans-serif;
    @include media(">huge") {
      margin-left: 10vw;
      margin-top: 5vh;
      // margin-right: 5vw;
      // width: 90vw;
    }
    @include media("<=medium") {
      margin-left: 0px;
      flex:10
    }
    .textTitle {
      flex: 4;
      font-size: 50px;
      color: white;
      padding-left: 1rem;
      padding-top: 10rem;
      //단어 줄바꿈에 관한 속성들
      word-break:keep-all;
      word-wrap:break-word;
      
    }
    .text {
      color: white;
      // font-family: 'Nanum Gothic', sans-serif;
      b {
        font-weight: 1300;
      }
      flex:4;
      font-size: 1.7rem;
      padding-left: 1rem;
      p{
        font-size: 1.2rem;
      }
      @include media("<=medium") {
        padding-left: -1rem;
        font-size: 1.3em;
      }
    }
  }
  
  .sampleBox {
    padding-top: 50px;
    flex: 5;
    @include media("<=medium") {
      display: none;
      flex: 0;
    }
  }

}