@import 'utils'; // styles/utils.scss 를 읽어온것이다.
                  // 원래라면 import ../../styles/utils 이렇게 해야하지만
                  // config/webpack.config.dev.js 에서 includePaths: [paths.styles] 해주고
                  // config/paths.js 에서 styles: resolveApp('src/styles') 해주어서 이렇게 쓰는게 가능하다
                  // 그리고 이파일은 index.js 파일에서 import 했기때문에 어디서나 적용이 가능하다
body {
  margin: 0;
  margin-top: -40px;
  // background: $oc-gray-7;
  box-sizing: border-box;
}

*{
  box-sizing: inherit;
}