@import 'utils';

.content{
    position: relative;
    height: 100vh; // 페이지에서 헤더를 제외한 영역 모두 채우기
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffffff, #f7f7f7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffffff, #f7f7f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // background:url('http://localhost:8082/images/two.jpg');
    margin-top: -42px;
    
    .text {
      font-size: 50px;
      color: crimson;
      $use-fadeIn: true;
      padding: 1rem;
      padding-top: 20rem;
      text-align:center;
      //단어 줄바꿈에 관한 속성들
      word-break:keep-all;
      word-wrap:break-word;
      
      @include media("<=medium") {
        font-size: 2em;
      }
    }

    .box{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 300px;
      background-color: $oc-yellow-3;
    }
}

