@import 'utils';

.listContainer {
  padding-top: 60px;
  -webkit-flex: 1;
  flex: 1;
  background-color: white;
  @include media("<=small"){

  }

  @include media("<=medium"){
    text-align: start;
  }

  .aboutMe {
    visibility : hidden;
    @include media("<=medium"){
      text-align : center;
      visibility : visible;
    }
  }
}

.storyContainer{
  display : flex;
  flex-direction : row;
    // @include media("<=medium"){
    //   width: 90vw;
    // }

}
.storyContainer_revese{
  display : flex;
  flex-direction : row-reverse;
}

.story_left {
  display : flex;
  flex-direction : column;
  height: 45vh;
  padding-left: 80px;
  padding-right : 80px;
  .title{
    font-size: 2.9rem;
    color: black;
  }
  .subTitle{
    color : #2d3436;
    font-size: 1.8rem;
    margin-top : -40px;
  }

  @include media("<=large"){
    .title {
      font-size: 3.4rem;
    }
    .subTitle {
      font-size : 2rem;
    }
  }

  @include media("<=medium"){
    padding-left: 25px;
    font-size: 1rem;
    height: 50vh;
    overflow-wrap: break-word;
    .title {
      overflow-wrap: break-word;
      font-size: 2.2rem;
    }
    .subTitle {
      font-size : 1.5rem;
    }
  }
}

.story_right {
  display : flex;
  flex-direction : column;
  text-align : right;
  height: 45vh;
  padding-left: 80px;
  padding-right: 80px;

  .title{
    font-size: 2.9rem;
    color: black;
  }
  .subTitle{
    color : #2d3436;
    font-size: 1.8rem;
    margin-top : -40px;
  }
  @include media("<=large"){
    .title {
      font-size: 3.4rem;
    }
    .subTitle {
      font-size : 2rem;
    }
  }
  
  @include media("<=medium"){
    padding-left: 25px;
    font-size: 1rem;
    height: 50vh;
    overflow-wrap: break-word;
    .title {
      overflow-wrap: break-word;
      font-size: 2.2rem;
    }
    .subTitle {
      margin-top: 10px;
      font-size : 1.5rem;
    }
  }
  @include media("<=small"){
    padding-left: -25px;
    margin-right: -60px;
  }
  
}