@import 'utils';

.content {
    margin-top: 45px;
    background-size:cover;
    background:url('http://localhost:8082/images/three.jpg');
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // position: relative;
    height: 101vh; // 페이지에서 헤더를 제외한 영역 모두 채우기
    background-size:cover;
    color: white;

    .backBtn {
        cursor: pointer;
        &:hover{
            animation: BtnHover1 0.25s 0s 1 linear forwards;
        }
    }
}

@keyframes BtnHover1 {
    0% {
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      }
    50% {
    }
    100% {
        transform: scale(2);
        background-color: #F16B6F;
        border-radius: 40px;
    }
}

.tagsClass{
    width: 650px;
    // overflow-wrap: break-word;
    // margin-right:5px;
    list-style: none;
    @include media("<=small") {
      width : 100vw;
      overflow-wrap: break-word;
    }
    .selectedClass{
        // overflow-wrap: break-word;
        width: 580px;
        height : 400px;
        // text-align: center;
        margin: 0;
        padding : 50px;
        .tagClass{ //선택한 태그들
            overflow-wrap: break-word;
            text-align : center;
            margin-right:7px;
            font-size : 1.8rem;
            color:black;
            list-style-type: none;
            background-color : #f7d794;
            margin-bottom : 100px;
            border-radius : 10px;
        }
        .tagInputFieldClass{ //태그 입력하는 곳 
            background-color : black;
            color: white;
            font-size: 2rem;
            margin-top : 80px;
            margin-left : 60px;
            width : 90%;
            border-color: transparent;
            // box-shadow : 5px 5px 20px #3d3d3d;
            &:focus {
                outline: none;
            }
        }
        @include media("<=small") {
            margin-left: -15px;
            width : 100vw;
            overflow-wrap: break-word;
        }
    }
    .suggestionsClass { // 아래에 뜨는 단어 추천 부분
        font-size: 1.2rem;
        background-color: #282c37;
        width : 80%;
        margin-left : 80px;
        ul {
            text-align: center;
            list-style-type: none;
            width : 100%;
        }
        li{
            mark{
                text-decoration: underline;
                background: none;
                font-weight: 400;
                color:#8CD790;
            }
        }
    }
    .activeSuggestionClass{
        color: #F16B6F;
        // background-color: transparent;
    }
  }

  .poplurSkill{
    display : flex;
    // width : 85vw;
    .pop1{
        background: url('https://www.shareicon.net/data/256x256/2016/07/10/119874_apps_512x512.png');
        width:150px;
        height: 150px;
        margin : 0 15px 0 15px;
        background-size : cover;
    }
    .pop2{
        background: url('https://upload.wikimedia.org/wikipedia/commons/c/cb/Python_for_iOS_App_Icon.png');
        width:150px;
        height: 150px;
        margin : 0 15px 0 15px;
        background-size : cover;
    }
    .pop3{
        background: url('https://icon-icons.com/icons2/478/PNG/512/Bitcoin_46999.png');
        width:150px;
        height: 150px;
        margin : 0 15px 0 15px;
        background-size : cover;
    }
    .pop4{
        background: url('https://cdn.iconscout.com/public/images/icon/free/png-512/nodejs-logo-36559ec903b263f5-512x512.png');
        width: 150px;
        height: 150px;
        margin : 0 15px 0 15px;
        background-size : cover;
    }
  }

  .UsersPlace{
      display : flex;
      justify-content : center;
    //   background-color : gray;
      .topImage{
        margin : 0 10px;
        width : 70px;
        height : 70px;
      }
      p{
        text-align : center;
      }
  }