@import 'utils';

.content{
    position: relative;
    margin-top:0px;
    height: 35vh; // 페이지에서 헤더를 제외한 영역 모두 채우기
    background:url('http://220.68.54.53:8082/images/two.jpg');
    background-attachment: fixed;
    background-size:cover;

    @include media("<=medium") {
      height: 102vh;
    }

}