@import 'utils';

.content {
  margin-top: -75px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  height: 100vh;

  .fakeAboutMe{
    flex: initial;
    -webkit-flex: initial;
    width: 25vw;
    height: 100vh;
    @include media("<=small"){
      font-size: 1rem;
    }
    
    @include media("<=medium"){
      display : none;
      width: 0;
    }
  }
  
  .aboutMe{
    padding-top: 80px;
    position: fixed;
    top:0%;
    left: 0;
    width: 25vw;
    height: 100vh;
    min-width: 220px;
    background-color: #383A3F;
    overflow-x: hidden;
    
    
    .displayName{
      font-family: 'Yantramanav', sans-serif;
      text-align: center;
      color : #FFFFFC;
      font-size: 1.8rem;
    }
    .whatCanIDo {
      text-align : center;
      color : #e15f41;
      font-size : 1.3rem;
    }

    .spacesBox{
      font-family:'Fira Sans', sans-serif;
      font-weight: 200;
      text-align: center;
      color : white;
      .space{
        margin-bottom: -15px;
      }
    }
    
    .languagesBox{
      margin-top: 35px;
      font-family:'Fira Sans', sans-serif;
      text-align: center;
      color : white;
      .language{
        margin-bottom: -15px;
      }
    }
    
    .email{
      bottom: 20px;
      text-align: center;
      color : #FFFFF3;
      font-family:'Fira Sans', sans-serif;
      font-size: 1rem;
      margin-top: 60px;
    }
    
    @include media("<=small"){
      font-size: 1rem;
      // margin-top: 50px;
    }
    
    @include media("<=medium"){
      display : none;
      width: 0;
    }
  }
  
}
