@import 'utils';

.newStory-template {
    display: flex;
    justify-content: center;
    position: relative;
    background-size:cover;
    margin-top: 40px;
    padding-top: 70px;
    word-break:keep-all;
    word-wrap:break-word;
    text-align:center;
    
    @include media("<=large") {
        margin-top: 46px;
    }
}
